/*the css code, which it was easier (tho probably not the best idea) to put it on 1 page. 
This is NOT that readable (sorry), open in VSC and use CTRL-F lol */


body {

  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  background-color: #1a2333;
}

html,
body {
  margin: 0;
  height: 100%;
}

.appDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}



.projects {
  padding: 10px;
}

.projects h1 {
  color: white;
  padding: 10px;
  text-align: center;
}




/* i regret not making this chronological :( */
/*here are the sliding animations*/

.aboutMeContainer {
  display: flex;
  align-self: center;
  flex-direction: column;
  padding: 0.5rem;


}




@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes blurIn {
  from {
    filter: blur(0.25rem);
  }

  to {
    filter: blur(0%);
  }
}

@keyframes widthExpand {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}



.contactText {
  padding: 1rem;
  line-height: 115%;
  text-align: center;
  color:white;
  font-size: 2rem;
  
}


#waterphoto {
  max-width: 400px;
  height: auto;
}

.navbarcontainer {
  background-color: #111723;
  position: relative;
}


.Navbar {
  display: flex;
  flex-direction: row;
  margin: 1rem 1rem;
  justify-content: center;
  padding: 0.1rem 0.1rem 0.1rem;
  align-content: center;
}

.Navbar>h3 {
  margin: 1rem 0.7rem 1rem;
  text-decoration: none;
}

.Navbar .nv1 {
  padding: 10px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.3s;
}



.Navbar .nv1:hover {
  color: grey;

}








/*blog titles/links*/
.blogs .nv1:hover {
  color: rgb(1, 255, 179);
  text-decoration-color: rgb(1, 255, 179);
}

.blogs .nv1{
  color: rgb(255, 255, 255);
  text-decoration-color: transparent;
  transition: 0.3s;
  font-style: italic;
}

.blogs>ul {
  margin-left: 1rem;
  list-style-type: disc;
  color:white;
}

.blogs>ul li::marker {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  border: 0;
}


.blogs>ul>li {
  margin-left: 1rem;
  padding: 0;
}


.post-title {
  color: white;
  transition: 0.3s;
  text-decoration: none;
}



/*text in blogs*/

.blogscontainer {
  padding: 1rem;
}

.blogscontainer h3 {
  margin: 0.5rem 0 0.5rem 0.25rem;
}

.queens-text {
  color: #ff1f3d;
}


.blog-standardized h3,a{
  color: white;
  font-size: 1.25rem;
  line-height: 1.7rem;
  transition: 0.3s;
  margin: 0;
  padding: 1rem;
}

.blog-standardized a{
  padding: 0;
}

.blog-standardized a {
  font-style: italic;
}




.blog-standardized {
  padding: 2rem;
}



.blog-standardized>h3>code {
  background-color: black;
  padding: 0.3rem;
}




.blog-standardized>h1 {
  color: white;
  padding: 1rem;
  text-decoration: underline;

}






@media only screen and (max-width: 500px) {
  .Navbar {
    flex-direction: column;
    justify-content: center;


  }

  .Navbar .nv1,
  h3 {
    margin: 0.155rem 1rem 0.155rem 1rem;
    justify-content: center;
    padding: 0;
  }

  .Navbar>h3 {
    margin: 0.055rem 0 0.055rem 0;
    justify-content: center;
    padding: 0;
  }



  .appDiv .footercontainer {
    align-items: center;
  }

  .appDiv .footercontainer> a {
    padding: 0.3rem;
  }


}




.footercontainer {
  display: flex;
  flex-direction: row;
  margin: 0px 40px;
  padding: 0.5rem;
  background-color: #111723;
  align-self: center;
  bottom: 0;
  position: fixed;
  width: 100vw;
  align-items: center;
  justify-content: center;
}



*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




h2.post-title {
  margin-top: 1em;
  margin-bottom: 1em;
}


.introduction-text {
  display: flex;
  padding: 50px;
  flex-direction: column;
  font-family: monospace;
}

.grade12-text {
  color: rgb(134, 223, 255)
}

.ce-text {
  color: rgb(200, 137, 255)
}

code {
  background-color: #303641;
  border-radius: 3px;
  font-family: courier, monospace;
  font-weight: 600;
  padding: 0 3px;
}


.startup-title-bio {
  color: rgb(65, 255, 236);
}
/*some thing in react where it doesn't recognize <h1> w/ a classname? had to assign one to the parent div*/
.typeWriterDiv>h1 {
  font-size: 2.7rem;
  margin: 0;
  color: white
}







.line-bar-about {
  width: auto;
  height: 0.1rem;
  margin: 1rem 0 1rem 0;
  background-color: transparent;
  animation: slideRight 2s ease-in-out forwards;
  justify-content: center;
  align-content: center;
}

.line-bar-about2 {
  width: auto;
  height: 0.1rem;
  background-color: white;
  animation: fadeIn 5s ease-out forwards, blurIn 2s ease-in-out forwards, widthExpand 3s ease-in-out forwards;
  transition: slide;
  animation-delay: 200ms;
  opacity: 0;
}





.introduction-text>.sliding-text>h2 {
  font-size: 2rem;
  margin: 10px 0px;
  color: white;
  animation: slideRight 2s ease-in-out forwards, fadeIn 2s ease-out forwards, blurIn 0.5s ease-in-out forwards;
  transition: slide;
  animation-delay: 200ms;
  opacity: 0;
}

.introduction-text .nv1{
  
  padding: 0px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.3s;
  
}

.introduction-text > .sliding-text > .bio-p {
  font-size: 1.5rem;
  margin: 10px 0px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  opacity: 0;
  animation: slideRight 2s ease-in-out forwards, fadeIn 2s ease-out forwards, blurIn 0.5s ease-in-out forwards;
  animation-delay: 600ms;
}

.introduction-text > .sliding-text > .main-headline-project-or-event {
  font-size: 1.5rem;
  margin: 10px 0px;
  margin-top: 1rem;
  opacity: 0;
  animation: slideRight 2s ease-in-out forwards, fadeIn 2s ease-out forwards, blurIn 0.5s ease-in-out forwards;
  animation-delay: 800ms;
}


.post-title {
  opacity: 0;
  animation: slideRight 2s ease-in-out forwards, fadeIn 2s ease-out forwards, blurIn 0.5s ease-in-out forwards;
  animation-delay: 800ms;
}

/*wow cool math in css???; */

.blogs > ul > li:nth-child(1){
  opacity: 0;
  animation: slideRight 2s ease-in-out forwards, fadeIn 2s ease-out forwards, blurIn 0.5s ease-in-out forwards;
  animation-delay: 0ms;
}


.blogs > ul > li:nth-child(2){
  opacity: 0;
  animation: slideRight 2s ease-in-out forwards, fadeIn 2s ease-out forwards, blurIn 0.5s ease-in-out forwards;
  animation-delay: 200ms;
}




.Error404 {
  text-align: center;
  color:white;
  padding: 1rem;
  line-height: 2rem;
}





.waterphoto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.waterphoto>h3 {
  text-size-adjust: 50%;
  color: #cacaca;
  font-size: 15px;
  font-weight: 200;
}



/*footer items */


.footercontainer>a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin: 0rem 1rem 0rem 1rem;
  padding: 1rem;
  font-weight: 500;
  color: white;
  size: 115%;
}





.footercontainer > :nth-child(n):hover{
  color: grey;
}


.footercontainer>a>img {
  width: 2rem;
  height: 2rem;
  padding: 0rem;

}
